{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Servis de PC{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid">
                    <div class="navbar-brand"></div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <div class="navbar-nav gap-2">
                            <a class="nav-link text-white btn btn-info btn-sm bi bi-house-fill" href="{% url 'myapp:index' %}"><span class="ms-2">Inicio</span></a>
                            <a class="nav-link text-white btn btn-primary btn-sm bi bi-people-fill" href="{% url 'myapp:clientes' %}"><span class="ms-2">Clientes</span></a>
                            <a class="nav-link text-white btn btn-success btn-sm bi bi-person-badge" href="{% url 'myapp:tecnicos' %}"><span class="ms-2">Técnicos</span></a>
                            <a class="nav-link text-white btn btn-warning btn-sm bi bi-pc" href="{% url 'myapp:equipos' %}"><span class="ms-2">Equipos</span></a>
                            <a class="nav-link text-white btn btn-danger btn-sm bi bi-tools" href="{% url 'myapp:reparaciones' %}"><span class="ms-2">Reparaciones</span></a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block content %} <!-- Contenido específico de cada página irá aquí --> {% endblock %}
        </main>
        <footer class="text-center text-white py-3 mt-auto">
        <div class="container">
            <p class="mb-0">&copy; 2026 Servis PC. Todos los derechos reservados.</p>
        </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
